*{
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    box-sizing: border-box;
}
body{
    background-color: #1f242d;
    height: 100vh;
    color: #fff;
}
.logo{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
}
span{
    color: #0ef;
}
.class{
    position: relative;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between  ;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
nav ul li :hover{
    color: #0ef;
}
.details{
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 5%;
}
.details h1{
    font-size: 50px;
   width: fit-content;
    color: #fff;
    margin-bottom: 20px;
}
.details h1:hover{
    color: #0ef;
}
.details .btn{
    background-color: #0ef;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.details a:hover{
    background-color: #ff004f;
}
.image{
    width: 45%;
    height: 80%;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 100px;
}
.image img{
    height: 85%;
    width: 124%;
    position: absolute;
    top: 38px;
    left: 48%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .boy{
    left: 45%;
}
.circle{
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: #0ef;
    width: 520px;
    height: 520px;
    border-radius: 50%;
    box-shadow: 0 0 15px #0ef;
    
}
.socialMedia{
    filter: invert(1);
}
.socialMedia a:hover{
    color: blue;
    transform: translateY(-5px);
}
